/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    width: 100vw;
    overflow-x: hidden; /* Evitar desplazamiento horizontal */
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.carousel {
    display: flex;
    overflow-x: auto;
    padding: 10px 10px;
    scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar {
    display: above;
}

.card {
    flex: 0 0 auto;
    width: 250px; /* Ancho de las tarjetas */
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto; /* Esto mantendrá la proporción 16:9 */
    aspect-ratio: 16 / 9; /* Asegura relación 16:9 */
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-title {
    padding: 10px;
}

/* Estilos para el modal de errores */
#error-log-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

#error-log-modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

/* Estilos para el modal de carga */
.hidden {
    display: none;
}

.modal {
    display: flex;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white; /* Fondo blanco para el contenido */
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}


@media screen and (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }
    .card {
        width: 100%; /* Ajusta el ancho para pantallas pequeñas */
    }
}
